*{
    background-color: #2D3250;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

table{
    display: flex;
    justify-content: center;

}


